$fa-font-path:         "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/webfonts/" !default;

//root
:root{
    //colors
    
}
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1400px
) 
